<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a201495_2.porkgestion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:name=".GlobalClass"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuLateral"
            android:screenOrientation="portrait" />
        <activity android:name=".MainRegistrousuario" />
        <activity android:name=".cerdo" />
        <activity android:name=".ventas" />
        <activity android:name=".reproduccion" />
        <activity android:name=".reportes" />
        <activity android:name=".RazaActivity" />
        <activity android:name=".fpp" />
        <activity android:name=".PartoActivity" />
        <activity android:name=".reporteparto" />
        <activity android:name=".reporteventa" />
        <activity android:name=".reporteverracos" />
        <activity android:name=".MainInformacion" />
        <activity android:name=".MainContenido" />
        <activity android:name=".MainEditusuario" />
        <activity android:name=".MainCiclo" />
        <activity android:name=".MainGlosario" />
        <activity android:name=".MainDatosOrg" />
        <activity android:name=".MainLinks" />
        <activity android:name=".MainRecomendaciones" />
        <activity android:name=".lechon" />
        <activity android:name=".MainReporteHV" />
        <activity android:name=".Partolact" />
        <activity android:name=".consultacerdo" />
        <activity android:name=".PajillaActivity" />
        <activity android:name=".totalcerdos" />
        <activity android:name=".menucerdo"/>
        <activity android:name=".SanidadActivity"/>
        <activity android:name=".vergestantes"/>
        <activity android:name=".ververracos"/>
        <activity android:name=".listaverracos"/>
        <activity android:name=".gestantes"/>
        <activity android:name=".rreproduccion"/>


    </application>

</manifest>
